body{

background-color: black;


}


.Menu{

font-family: "Geomanist Light";
color: white;
font-size: 200px;
text-align: center;
border-bottom: solid red 15px;
padding: 0px;
margin: 0px;




}

.Menu h1:hover
{
	color: blue;
	

}

