body{

background-color: black;


}


.Menu{

font-family: "Geomanist ExtraLight";
color: white;
font-size: 200px;
border-bottom: solid red 15px;
padding: 0px;
text-align: right;




}

.Menu h1:hover
{
	color: yellow;
	

}

